{% extends "layout.html.twig" %}

{% block content %}
<div class="jumbotron">
    Votre demande de modification d'un album de BD a été prise en compte.<br>
    Nous allons étudier votre demande et nous reviendrons vers vous dans les
    plus brefs délais.
</div>
{% endblock %}