{% extends "layout.html.twig" %}

{% block content %}
<div class="jumbotron">
    La suppression de la personne en base de données est terminé.<br>
    Cliquez <a href="{{ path('liste-persons')}}">ici</a> pour réafficher la liste des personnes.
</div>
{% endblock %}