{% extends "layout.html.twig" %}

{% block content %}
<div class="jumbotron">
    La personne demandée n'existe pas (ou plus) 
    dans notre base de données. <br>
    Nous vous prions de bien vouloir nous en excuser.
</div>
{% endblock %}
